body{
    font-family:'Segoe UI', Arial,Tahoma;
    /* height:100%; */
}


.horizontal{
    display:inline;
 } 

.center_text
{
    text-align:center;
}

.hor_corr{
    margin-left:0px;
   /*margin-top:-10px; */
}
 
.pic_corr{
   margin-left:0px;
}

#wrapper {
  height: 500px;        /* This wrapper sets the height for the page*/
  position: relative; 
}


li a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 16px;
}

  
  /* visited link */
li a,li a:link,li a:visited,li a:active {
    color: #258e8e
}
  
.cont {                    /*write text on banner*/
  position: relative; 
  text-align: center;
  color: white;
}


.centered {            /*write text on banner*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.footer { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

.list_style
{
   list-style-type: none;
}


.center-div
{
  margin: 0 auto;
  max-width: 700px;
  height: 100px;
}



/* .container {
    overflow-x: auto;
    width: 200px;
}
  
.stories {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 } */