body{
    /* font-family:'Segoe UI', Arial,Tahoma; */
    font-family:Georgia,Arial,Tahoma;
    /* height:100%; */
}


.horizontal{
    display:inline;
 } 

.center_text
{
    text-align:center;
}

.hor_corr{
    margin-left:-19px;
   /*margin-top:-10px; */
}
 
.pic_corr{
   margin-left:0px;
}

#wrapper {
  height: 600px;        /* This wrapper sets the height for the page, used to control footer*/
  position: relative; 
}

.feature_home{
  left:25%;
  width:50%;
  /* height:50%; */
  /* background:rgba(233, 202, 233, 0.753); */
  background: white;
  position:absolute;
  padding:15px;
  /* text-align:center; */
  margin-bottom:30px;
}

p::first-letter {
  font-size: 150%;
}


@media only screen and (min-width: 520px) 
{
  #wrapper {
    height: 500px;        /* This wrapper sets the height for the page, used to control footer*/
    position: relative; 
  }
}

@media only screen and (min-width: 768px) 
{
  #wrapper {
    height: 400px;        /* This wrapper sets the height for the page, used to control footer*/
    position: relative; 
  }
}


li a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-size: 16px;
}

  
li a,li a:link,li a:visited,li a:active {
    color: #258e8e;
}
  
.cont {                    /*write text on banner*/
  position: relative; 
  text-align: center;
  color: white;
}


.centered {            /*write text on banner*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.footer { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

.list_style
{
   list-style-type: none;
}


.center-div
{
  margin: 0 auto;
  max-width: 700px;
  height: 100px;
}



/* .container {
    overflow-x: auto;
    width: 200px;
}
  
.stories {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 } */